#ribbon {

    background: #7C74A3;
    background: linear-gradient(to right, #7C74A3 0%, #D4C1E8 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 35px;
    text-align: center;
    padding-top: 35px;
    padding-bottom: 35px;
}

.bank {
    margin-bottom: 100px;

}

.products {

    display: inline-table;
    width: 120px;
    height: 100px;
    padding: 30px;
    margin-bottom: 40px;
    padding-left: 40px;

    /* bottom: px; */
    /* border: 1px solid rgb(105, 105, 154);     */
    /* background-color: yellow;  */
}
h1{
   text-align: center; 
}