<!-- <div id="back"> -->

    <div id="ribbon">
        <p>Charity!</p>
    </div>
    <!-- <div class="card"> -->
        <div class="products" *ngFor="let charity of charityList">
            <h1>{{charity.nameOfFond}}</h1>
            <p><img src="{{charity.imageURL}}" alt="" width="400" height="300"></p>
            <div (click)="handleExpand()">
                <p >{{charity.description | shorted:limit}}</p>
            </div>
            <div (click)="handleExpand2()" class="bank">Bank account: {{charity.bankAccountNumber | shorted:limit2}}
            </div>
        <!-- </div> -->
    <!-- </div> -->
</div>