#ribbon {

    background: #7C74A3;
    background: linear-gradient(to right, #7C74A3 0%, #D4C1E8 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 35px;
    text-align: center;
    padding-top: 35px;
    padding-bottom: 35px;
}


#products {

    display: inline-table;
    width: 120px;
    height: 100px;
    padding: 30px;
    margin-bottom: 40px;

}

.button {
    /* border-radius:70px; */
    padding: 15px 50px;
    font-size: 18px;
    font-weight: bold;
    background-color: #b1b1cc;
    border: none;
    color: black;
    margin-top: 20px;
    margin-left: 60px;
}

.date-time {
    margin-left: 15px;

    width: 150px;
}