<div class="container">
    <div *ngIf="allMeetings?.length == 0; else allMeeting" id="ribbon">
        <p>No avalible meetings!</p>
    </div>
    <ng-template #allMeeting>
        <div id="ribbon">
            <p>All meetings!</p>
        </div>      
    </ng-template>
    <!-- <div id="ribbon">
        <p>All meetings!</p>
    </div> -->
    <div *ngFor="let meeting of allMeetings" id="products">
        <img class="group list-group-image" src="{{meeting.imageUrl}}" alt="" width="300" height="300" />
        <div class="caption">
            <!-- <h4 class="group inner list-group-item-heading">
                Meeting with: {{username}</h4> -->
            <p class="group inner list-group-item-text">{{meeting.place}}</p>
            <div class="row">
                <div class="col-xs-12 col-md-6">
                    <p class="lead">Date: {{meeting.date}}
                    </p>
                    <p class="lead">Time: {{meeting.time}}
                    </p>
                </div>
                <button class="button" [routerLink]="['/meeting/details', meeting._id]">Details</button>
            </div>
        </div>
    </div>
</div>