<div class="container" ng-app="tabApp">
    <div class="row" ng-controller="TabController">
        
        <div class="col-md-8">
            <div class="jumbotron">
                <div>
                    <div class="container">
                        <div id="ribbon">
                            <p>Charity meetings!</p>
                            </div>
                        
                    <!-- <h1>Charity meetings!</h1> -->
                    <h4>Welcome to the website!</h4>
                    <img class="image" src="https://cdn-icons-png.flaticon.com/512/4975/4975095.png" alt=""  />
                    <div class="bl">

                    <p class="textt">Hello, welcome to the "Charity meetings" team. We are a project that was founded
                        8 years ago. Let me tell you what the idea is. Our main goal is to try to bring
                        kindness and positive emotions into people's lives. We decided to unite the idea
                        of charity and organizing pleasant evenings for people. Let me tell you about
                        it in more detail and how exactly it works. By selecting the "All Meetings"
                        tab, you can see the candidates that are currently available. Every Sunday at
                        19:00 we hold an auction where the last bid wins and the participant will be
                        able, by prior arrangement, to meet with the submitted candidate. An important
                        condition is that the winner of the auction must send all the proceeds to a
                        charitable organization, providing a check. On our website in the "Charity"
                        section you can find the organizations with which we keep in touch and help
                        them in every possible way, but none of us is forcing you to transfer your
                        funds to these organizations. The main goal is to help people. If you want
                        to become the very candidate for which people will fight in the auction,
                        you need to register on our website, fill in your profile information and
                        then go to the "Create meeting" tab. You determine the starting amount of
                        the auction yourself.</p>
                    </div>

                        <!-- https://cdn-icons-png.flaticon.com/512/4975/4975095.png -->
                        
                        <!-- <p><a class="btn btn-primary btn-lg" 			role="button">Learn more</a></p> -->
                        <!-- <button class="button" [routerLink]="['/meeting']">All Meetings!</button> -->
                    </div>
            </div>
        </div>
    </div>
</div>