/* @import "compass/css3"; */

body {
  margin: 10px;
}
#ribbon {

    background: #7C74A3;
    background: linear-gradient(to right, #7C74A3 0%, #D4C1E8 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 35px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 35px;
}

/* text recolor */
h1, h4 {
    margin-left:160px;

    color: black !important;
}
.textt{
    color: black !important;

}

.jumbotron {
  background-color: #ebebf5 !important;
  border-color: #efe5f3 !important;
  border-radius: 25px; 
  padding:50px 50px;
  margin-top:40px;
  margin-left:70px;
  width: 1000px;
}
.image{

    float: right;
width: 300px; 
height: 300px;
margin-left:70px;

}




.button{
    padding:15px 50px;
    font-size:17px;
    font-weight:bold;
    background-color:#b1b1cc;
    border:none;
    color:black;
    margin-top:20px;
    /* margin: 30px; */
    margin-left: 160px;
   }