<div class="container" ng-app="tabApp">
    <div class="row" ng-controller="TabController">

        <div class="col-md-8">
            <div class="jumbotron">
                <div>
                    <div class="container">
                        <div id="ribbon">
                            <p>Charity meetings!</p>
                        </div>

                        <h4>Welcome to the Charity Meetings. </h4>
                        <img class="image" src="https://cdn-icons-png.flaticon.com/512/4975/4975095.png" alt="" />
                        <div class="bl">

                            <p class="textt">
                                Let me tell you what the idea is. Our main goal is to try to bring goodness and positive
                                emotions into people's lives. We decided to combine the idea of charity and organizing
                                pleasant evenings for people. </p>

                            <p class="textt"> Let me tell you about it in more detail and how exactly it works. On our
                                website you can
                                meet a large number of interesting people who will be happy to keep you company for a
                                walk,
                                playing sports or going to the cinema. By selecting the "All meetings" tab, you can see
                                the candidates that are currently available. Next, you need to click on the candidate
                                you
                                are interested in and if you see the "Join" button in this tab, it’s mean that you can
                                meet
                                with this person. An important condition is that when you choose the person and pressed
                                button “Join” you must transfer 10 dollars to a charitable organisation which selected
                                in
                                “Charity” page. In this section you can find organisations with which we keep in touch
                                and help them in every possible way. </p>

                            <p class="textt"> If you want to be the candidate that people will choose, you need to
                                register on our site,
                                and then go to the “Create meeting" tab. Any user can take part in charity
                                meetings. You can create a meeting at any time and our team is sure that
                                thanks to these meetings you not only help charities, but also share your experience
                                with
                                other people and it is also a good way to make new friends!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>