<div id="ribbon">
    <p>All meetings!</p>
    </div>
<ul class="pricing_table">
    
    <li class="active">
		<h2>Welcome to your profile!</h2>
		<div class="price_body">
			<div class="price">
				<span class="price_term">You created</span>
				<span class="price_figure">3</span>
                <span class="price_term">meetings</span>

			</div>
		</div>
        <div class="price_body">
			<div class="price">
				<span class="price_term">You bought</span>
				<span class="price_figure">4</span>
                <span class="price_term">meetings</span>

			</div>
		</div>
		<div class="future">
			<ul>
				<li>Username: Emine</li>
				<li>Email: emine-99@mail.ru</li>
				<!-- <li>Free Appointments</li>
				<li><strong>20 Bonus Points</strong> every month</li>
				<li>Customizable Profile Page</li>
				<li><strong>6 months</strong> support</li> -->
			</ul>
		</div>
		<!-- <div class="footer">
			<a href="#" class="action_button">Get Started</a>
		</div> -->
	</li>

</ul>

