.footer
{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 8%;
    background-color: #F5DEB3;
    color: #CD853F;
    text-align: center;
}
.FAQ
{
    color: #CD853F;
    text-align: center;

}