#footer {

    background: linear-gradient(to bottom, #B1B1CC, #DEDEFF);
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 8%;
    text-align: center;
    border-radius: 0px;
    border: 5px double #DEDEFF;
    font-size: 18px;
}

#footer a {
    display: block;
    line-height: 57px;
    padding: 0 14px;
    text-decoration: none;
    color: #080808;
    font-size: 18px;
    text-transform: capitalize;
}