<nav id='menu'>
    <input type='checkbox' id='responsive-menu' onclick='updatemenu()'><label></label>
    <ul>
        <li><a routerLink="/">Home</a></li>
        <li><a routerLink="/charity">Charity</a></li>
        <li><a routerLink="/meeting">All meetings</a></li>
        <li><a routerLink="/create">Create meeting</a></li>

        <li *ngIf="!(isLoggedIn$ | async)"><a routerLink="/login">Login</a></li>
        <li *ngIf="!(isLoggedIn$ | async)"><a routerLink="/register">Register</a></li>
        <li *ngIf="(isLoggedIn$ | async)"><a routerLink="/profile">Profile, {{userId}}</a></li>
        <li *ngIf="(isLoggedIn$ | async)"><a href="javascript:void(0);" (click)="logoutHandler()">Logout</a></li>
    </ul>
</nav>