<header class="header">
    <nav>
        <div class="centr-container">
            <ul>
                <li><a href="/">Charity Meetings</a></li>
            </ul>
        </div>
        <div >
            <ul class="right-container">

                <li> <a href="/charity" class="log-out">Charity</a></li>
                <li> <a href="/allMeetings" class="log-out">All meetings</a></li>
                <li> <a href="/createMeetings" class="log-out">Create meetings</a></li>


            </ul>

        </div>
    </nav>
    <nav>
        <div class="left-container">
            <ul>
                <li> <a href="/profile" class="log-out">Profile</a></li>
                <li> <a href="/auth/logout" class="log-out">Logout</a></li>

                <li><a href="/auth/login">Login</a></li>
                <li><a href="/auth/register">Register</a></li>

            </ul>
        </div>
    </nav>
</header>