<div id="ribbon">
    <p>FAQ</p>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="faq" id="accordion">
                <div class="card">
                    <div class="card-header" id="faqHeading-1">
                        <div class="mb-0">
                            <h5 class="faq-title">
                                <span class="badge">1</span>Why I can not create a meeting?
                            </h5>
                            <div class="card-body">
                                <p>In order to create a meeting, you need to register on our website, after that, you
                                    you need to fill in information about meeting at "Create meetings" section. Make
                                    sure that you enter the correct information. If you have any difficulties, please
                                    write to us at this mail "charitMeetings@gmail.com".
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="faqHeading-2">
                        <div class="mb-0">
                            <h5 class="faq-title" data-toggle="collapse" data-target="#faqCollapse-2"
                                data-aria-expanded="false" data-aria-controls="faqCollapse-2">
                                <span class="badge">2</span>What do they do if the guest does not come to the meeting?
                            </h5>
                            <div class="card-body">
                                <p>First of all, you should not worry, force majeure circumstances do not depend on us.
                                    If within 20 minutes, your guest did not come, please write to us at this mail
                                    "charitMeetings@gmail.com", within 5-10 minutes we will give you feedback and do our
                                    best so that your next evening does not disappoint you!</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="faqHeading-2">
                        <div class="mb-0">
                            <h5 class="faq-title" data-toggle="collapse" data-target="#faqCollapse-2"
                                data-aria-expanded="false" data-aria-controls="faqCollapse-2">
                                <span class="badge">3</span> I got a fake account, what should I do?
                            </h5>
                            <div class="card-body">
                                <p>our moderators do not always have time to check each request for a meeting, but
                                    thanks to you, we can delete these accounts. You need to copy the account that you
                                    consider to be fake and write to us at “charitMeetings@gmail.com". Our moderators
                                    will check this account and if they find out that the account is not real, we will
                                    take action.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="faqHeading-2">
                        <div class="mb-0">
                            <h5 class="faq-title" data-toggle="collapse" data-target="#faqCollapse-2"
                                data-aria-expanded="false" data-aria-controls="faqCollapse-2">
                                <span class="badge">4</span>Why can't I claim to meet a guest I like?
                            </h5>
                            <div class="card-body">
                                <p>If you find yourself in a similar situation and in the "Meetings" tab you do not have
                                    the "Join" button for the meeting you are interested in - this is not a site error,
                                    it's just that at the moment all the places for a meeting with this person are
                                    occupied, but don't be discouraged, on our website there are many interesting and
                                    smart people with whom you will be interested to meet!</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>